{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

	<div class="container mb-3">
		<div class="row">
			<div class="col-md-8 mt-1 offset-md-2">
				<!-- Success alert when submitted -->
               <h1> {% if Posted %} You have sucessfully created a new blog post</h1>
            {% else %} 
				<h1>Add Post...</h1>
                <div class="container">
					<div class="row">
						<form method=POST enctype="multipart/form-data"> 
              {% csrf_token %} 
              {{ form|crispy }}
							<button>Post</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}