{% extends "base.html" %} 
{% load crispy_forms_tags %} 

{% block head_title %}- Contact form for Leather Works, Sustainability leather products{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="container fluid">
    <div class="row">
      <!-- Section Titile -->
      <div>
        <h3 class="section-title">Contact Us</h3>
      </div>
    </div>
    <div class="row">
      <!-- Section Titile -->
      <p>Do you have a question, a concern?
        If so, please complete the form below and we will aim to respond within 24 hours.
        Also visit our FAQs page to see whether your question has already been answered.</p>
    </div>
    <!-- contact form -->
    <div">
      <form id="contact-form" method="post"> {% csrf_token %} {{ form|crispy }}
        <!-- Form Submit -->
        <button id="submitForm" class="btn back mb-3">Send</button>
      </form>
    </div>
  </div>
{% endblock %}