{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

<div class="masthead offset-md-1">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                 <h1 class="post-title">{{ post.title }}</h1>
                 <div class="card-text">
                    {{ post.content | safe }}
                 </div>
             </div>
             <div class="d-none d-md-block col-md-5 masthead-image">
                 <!-- The featured image URL or an alternitive if one isnt provided -->
                 <div class="image-container">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top" src="{{ post.featured_image }}" style="width:100%"
                      alt="Blog post image">
                    {% else %}
                    <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="" style="width:100%">
                    {% endif %}
                  </div>
            <p class="post-subtitle">Author: {{ post.author }} | {{ post.created_on }}</p>
        </div>
        </div>

        {% if request.user.is_superuser %}
        <small class="ml-3">
            <a href="{% url 'update_post' post.id %}">Edit</a>
            <a class="text-danger" href="{% url 'delete_post' post.id %}">Delete</a>
        </small>
        <a class="btn btn-dark mb-4" href="{% url 'blog' %}">Back </a>
{% else %}
<a class="btn btn-dark mb-4" href="{% url 'blog' %}">Back </a>
</div>
</div>

{% endif %} 


{% endblock content %}