{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

<div class="masthead offset-md-1">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                 <h1 class="post-title">{{ post.title }}</h1>
                 <p class="card-text ">
                    {{ post.content | safe }}
                </p>
             </div>
             <div class="d-none d-md-block col-md-5 masthead-image">
                 <!-- The featured image URL or an alternitive if one isnt provided -->
                 <div class="image-container">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top" src="{{ post.featured_image }}" style="width:100%"
                      alt="Blog post image">
                    {% else %}
                    <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="" style="width:100%">
                    {% endif %}
                  </div>
            <p class="post-subtitle">Author: {{ post.author }} | {{ post.created_on }}</p>
        </div>
        </div>

    {% if user.is_authenticated %} 
{% if user.id == x.author.id %}
<div class="pb-4">
<!-- Update or review button -->
<a href="{% url 'update_post' x.id %}" class="btn mb-3 btn-signup btn active">Edit Post</a>
<a href="{% url 'delete_post' x.id %}"class="btn mb-3 btn-outline-danger btn active">Delete Review</a>

{% else %}
<a class="btn back mb-4" href="{% url 'blog' %}">Back </a>
</div>
</div>

{% endif %}
{% endif %} 


{% endblock content %}