{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% if user.is_authenticated %} 
{% if user.id == x.author.id %}
<div class="container">
    <h1>Edit the Blog Post:</h1>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form method=POST> {% csrf_token %} {{ form|crispy }}
          <br />
          <input type="submit" value="Update" class="btn btn-signup">
        </form>
      </div>
    </div>

    {% else %}  
    <div class="ml-5">
    <h3>This is not your Post.</h3> 
    <p>Only the Post Author can amend this blog post.</p>
    <a class="btn back" href="{% url 'blog' %}">Back </a>
</div> 
{% endif %}
{% endif %}

{% endblock %}