{% extends "base.html" %}
{% load static %}

{% block page_header %}
   
{% endblock %}

{% block content %}
<!-- Homepage carousel section -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100" src="https://leather-works.s3.eu-west-1.amazonaws.com/media/leather+bag+main+img.webp" alt="Second slide">
        <div class="carousel-caption">
          <a class="carousel-anchor" href="{% url 'products' %}" aria-label="Navigates to view all products">
            <h5>Check out our product range</h5>
        </div>
      </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://leather-works.s3.eu-west-1.amazonaws.com/media/large-logo-_1_.webp" alt="Second slide">
          <div class="carousel-caption">
            <h5>Sustainable Leather</h5>
            <a class="carousel-anchor" href="{% url 'sustain' %}" aria-label="Navigates to blog showing info on sustainability">
            <p>Want to find out more about sustainable leather?</p>
          </div>
        </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
    </div>
  </section>
<section>
  <div class="container text-center">
<h1 class="text-center">Irish owned company</h1>
    <div class="feature_divider"></div>
    <p>For years we have been working on making the best leather goods we can. Our emphasis is on durability,
      leather quality, Sustainability, craftmanship and unique style.</p>
</div>
<hr class="hr1"/>
</section>
<section>
  <h2 class="text-center">Product Range</h2>
    <div class="category-btn">
      <div>
      <a href="{% url 'products' %}?category=purse" class="btn btn-dark m-2 purse" role="button">Purses</a>
    </div>
    <div>
      <a href="{% url 'products' %}?category=wallet" class="btn btn-dark m-2 wallet" role="button">Wallets</a>
    </div>
    <div>
      <a href="{% url 'products' %}?category=satchels_and_bags" class="btn btn-dark m-2 satchel" role="button">Satchels and Bags</a>
    </div>
    <div>
      <a href="{% url 'products' %}" class="btn btn-dark m-2 all-prod" role="button">All Products</a>
    </div>
      </div>
</section>
<section>
  <hr class="hr1"/>
  <div class="container">
    <div class="card-group vgr-cards">
      <div class="card">
        <div class="card-img-body">
        <img class="card-img" src="https://leather-works.s3.eu-west-1.amazonaws.com/media/meet+the+tanner.webp" alt="Leather works Tanner" style="height:auto; width:100%; overflow: hidden;">
        </div>
        <div class="card-body">
          <h4 class="card-title">Meet the Tanner</h4>
          <p class="card-text">Hi there, I'm Jack Murphy, and Leatherworks is my family-run business, established in 1970.
            My parents founded the company from our home in Louisburg, Co.Mayo, Ireland. I studied leather works in
            Cordwainers College London then worked with designer Bill Amberg in Notting Hill, London.
            Since coming home in 2001, I've been developing new designs and styles in the business.
          </p>
          <a href="{% url 'blog' %}" class="btn btn-dark">Learn More</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Sustainable leather</h4>
          <p class="card-text">With a growing demand for more environmentally friendly products and services,
            more businesses turn to a sustainable business model.
            Today’s consumers are more mindful than ever before, and they expect the brands they purchase from to provide more
            they want environmentally friendly products from ethical, transparent brands.
            </p>
            <a href="{% url 'sustain' %}" class="btn btn-dark">Learn More</a>
        </div>
        <div class="card-img-body">
          <img class="img-thumbnail" src="https://leather-works.s3.eu-west-1.amazonaws.com/media/sustainable+leather+purse.webp" alt="Leather purse">
        </div>
        <hr class="hr1"/>
  </div>
</section>

<section>
<!-- Testimonials carousel section -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100" src="https://leather-works.s3.eu-west-1.amazonaws.com/media/pexels-pixabay-157888+(2).webp" alt="First testimonial slide">
        <div class="carousel-caption-test">
          <h3>CUSTOMER TESTIMONIAL</h3>
          <h5>THE BEST OF IRISH CRAFTMANSHIP</h5>
          <p>I bought this bag as a gift for my sister. We both adore it. The quality of the leather
            and the craftmanship are superb. It represents excellent value for money and exceeded our 
            expectations. Suitable for use by anyone with a taste for Irish Luxury!
          </p>
        </div>
      </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://leather-works.s3.eu-west-1.amazonaws.com/media/pexels-pixabay-157888+(2).webp" alt="Second testimmonial slide">
          <div class="carousel-caption-test">
            <h3>CUSTOMER TESTIMONIAL</h3>
            <p>I am so pleased with this satchel bag! Arrived in three working days. Dary brown sustainable
              leather. Description and photos are true to delivered product. The finish and 
              attention to detail makes this a quality investment bag. Mine is for work and other family
              members now have their eye on it too. The single[non divided] internal space makesit versatile
              for so many uses. Would highly recommend!
            </p>
          </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://leather-works.s3.eu-west-1.amazonaws.com/media/pexels-pixabay-157888+(2).webp" alt="Third testimonial slide">
            <div class="carousel-caption-test">
              <h3>CUSTOMER TESTIMONIAL</h3>
              <h5>SO HAPPY I PURCHASED!!</h5>
              <p>I bought the Biker bag in the lovely shop on County Mayo when visiting family recently. 
                Such a beautiful bit of craftperson's work. Perfect size and weight. Tom the head tanner spent
                time with us explaning the extent to which they go to to source sustainable leather. Their shop
                is a must if you are in the West of Ireland. 
              </p>
            </div>
        </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
    </div>
    <hr class="hr1"/>
  </section>
<section>
  <div class="container-fluid d-flex justify-content-center">
      <div class="card-text">
        <h4 class="card-title">FOR WHOLESALE ORDERS OF ANY QUESTIONS</h4>
        <h3>PLEASE CALL OR EMAIL</h3>
        <p><a target="_blank" class="email" rel="noopener noreferer"
              aria-label="Send an email to The Leather Works"
              href="leatherworkssustainability@gmail.com">leatherworkssustainability@gmail.com</a> 
          <p>or call us on<a class="mailto-anchor" href="tel:+441618727795" aria-label="Call leather work" target="_blank"
          rel="noopener noreferer"> 01618727795.</a></p>
        <p>Vat No. IE655568209F</p>
        <p class="mb-5">Registered in Ireland. 15768256</p>
        </div>
      </div>
    </div>
    <hr class="hr1"/>
  </section>

<section>
          <!-- Begin Mailchimp Signup Form -->
          <div class="container-fluid">
          <div id="mc_embed_signup">
            <form action="https://herokuapp.us9.list-manage.com/subscribe/post?u=c1283ad29349d52ff28e0f2ae&amp;id=7e71b104ff&amp;f_id=004d2fe1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <h2>Sign Up:</h2>
                <h3>For latest deals.</h3>
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
          <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
        </div>
          <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c1283ad29349d52ff28e0f2ae_7e71b104ff" tabindex="-1" value=""></div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-dark">
                        <p class="brandingLogo"><a href="http://eepurl.com/ilvdfj" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"  aria-label="Mailchimp logo for subscription company"></a></p>
                    </div>
                </div>
            </div>
          </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
 
</section>



{% endblock %}

