<script type="text/javascript">

    //Disable +/- buttons outside 1-99 range.
    function handleEnableDisable(itemId) {
        let currentQuantity = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentQuantity < 2;
        var plusDisabled = currentQuantity > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    let allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        let itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentQuantity = parseInt($(closestInput).val());
       $(closestInput).val(currentQuantity + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentQuantity = parseInt($(closestInput).val());	
       $(closestInput).val(currentQuantity - 1);	
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });
</script>