<!-- Functionality to enable quantity selectors -->
<script>

    /* 
    * Disable +/- buttons outside 1-99 range.
    * If no color is passed to the function, the parameter will have a value of undefined by default,
    * which prevents any errors 
    */
    function handleEnableDisable(itemId, color) {
        if (color) {
            var currentValue = parseInt($(`.color_${itemId}_${color}`).val());
        } else {
            var currentValue = parseInt($(`.id_qty_${itemId}`).val());
        }

        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;

        if (color) {
            $(`.decrement-color_${itemId}_${color}`).prop('disabled', minusDisabled);
            $(`.increment-color_${itemId}_${color}`).prop('disabled', plusDisabled);
        } else {
            $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
            $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
        }
    }

    // Ensure proper enabling/disabling of all inputs on page load
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        var color = $(this).data('color');
        handleEnableDisable(itemId, color);
    });

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        var color = $(this).data('color');
        handleEnableDisable(itemId, color);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var itemId = $(this).data('item_id');
       var color = $(this).data('color');
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       if (color) {
          var allQuantityInputs = $(`.input-group-${itemId} input[data-color='${color}']`);
       } else {
          var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
       }
       var currentValue = parseInt($(closestInput).val());
       $(allQuantityInputs).val(currentValue + 1);
       handleEnableDisable(itemId, color);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var itemId = $(this).data('item_id');
       var color = $(this).data('color');
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       if (color) {
          var allQuantityInputs = $(`.input-group-${itemId} input[data-color='${color}']`);
       } else {
          var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
       }
       var currentValue = parseInt($(closestInput).val());
       $(allQuantityInputs).val(currentValue - 1);
       handleEnableDisable(itemId, color);
    });

</script>