{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% load i18n %}
{% block title %}{% trans 'Checkout' %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css' %}">
{% endblock %}

{% block content %}
<!-- Page header -->
<div class="container-fluid checkout">
    <div class="row">
        <div class="col text-center mt-3 mb-3">
            <h1 class="page-title">Checkout</h1>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <!-- Container for Checkout details -->
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mt-3 mb-4 order-summary-div">
            <p class="text-muted mb-5">Order Summary ({{ product_count }})</p>
            <div class="row">
                <div class="col-9">
                    <p class="mb-1 mt-0 mb-2"><strong>Product Info</strong></p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 mb-2"><strong>Subtotal</strong></p>
                </div>
            </div>
            <!-- Container to confirm bag items -->
            {% for item in bag_items %}
            <div class="row">
                <div class="col-2 mb-1">
                    <a href="{% url 'product_detail' item.product.id %}">
                        {% if item.product.image %}
                        <img class="w-100" src="{{ item.product.thumbnail.url }}" alt="{{ product.name }}">
                        {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-7">
                    <p class="my-0">{{ item.product.name }}</p>
                    <p class="my-0 small">Color: {% if item.product.has_color %}{{ item.color }}{% else %}N/A{% endif %}
                    </p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
                <div class="col-3 text-right">
                    <p class="my-0 small text-muted">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
            <hr class="my-0 mt-3 mb-3">
            <!-- Container to confirm cost details -->
            <div class="row text-right">
                <div class="col-9">
                    <p class="my-0"><strong>Bag Total: </strong></p>
                    <p class="my-0">Delivery: </p>
                    <p class="my-0 mt-3"><strong>Grand Total: </strong></p>
                </div>
                <div class="col-3">
                    <p class="my-0"><strong>£{{ total | floatformat:2 }}</strong></p>
                    <p class="my-0">£{{ delivery | floatformat:2 }}</p>
                    <p class="my-0 mt-3"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
        <!-- Container for delivery details form -->
        <div class="col-12 col-lg-6 mt-3 mb-4">
            <p class="text-muted mb-5">Please complete the form below to place your order.</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <!-- Personal details -->
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small px-2 w-auto">Personal Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <!-- Delivery details -->
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small px-2 w-auto">Address Details</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <!-- Container for options to save details / register / login -->
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a style="color: #0074cc" href="{% url 'account_signup' %}">Create an account</a> or
                            <a style="color: #0074cc" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <!-- Container for buttons to go back / proceed -->
                <div class="submit-button text-right mb-2">
                    <a href="{% url 'shopping_bag' %}" class="btn back-btn mt-3 mb-3">
                        <span>Adjust<br>Bag</span>
                    </a>
                    <button id="submit-button" class="btn standard-btn mt-3 mb-3">
                        <span>Place Order</span>
                    </button>
                    <br>
                    <p class="small text-danger my-0">
                        <span class="icon rating-icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}