html {
    height: 100%;
}
  
/*-----------------------------------------------------hero image */
.index-hero-image {
    background: url('/media/pexels-mart-production-8801100\ \(2\).jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
}


/*---------------------------------HOMEPAGE STYLES */

section {
    margin-bottom: 2rem;
}

.carousel-caption {
    background-color: #e1efe682;
}

.carousel-anchor {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.carousel-anchor > h5 {
    font-size: 1.5em;
    font-weight: 700;
    color: black;
}

/*----------------------------------------------Info cards*/

.hr1 {
    border: 0;
    height: 3px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  }

.home-card {
    background-size: 100% auto;
    height: 300px;
    position: relative;
    width: 100%;
}

.overlay{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*--------------------------------------------------- from Bulma to style font awesome icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    z-index: -1;
}

/*---------------------------------------- styling and hover effect on category badges --*/

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/*---------------------------------------- styling Main logo (gold effect gotten from https://codingartistweb.com/ --*/
.logo-font {
   position: absolute;
   transform: translate(-50%,-50%);
   top: 10%;
   left: 30%;
   font-family: 'Times New Roman',serif;
   font-weight: bold;
   background-image: linear-gradient(
	to right,
	#814e01 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#814e01 100%
	);
   color:transparent;
   -webkit-background-clip:text;
}


.main-logo-link {
    width: fit-content;
  
}

/*------------------------------------Change color of navbar */
#topnav {
    background-color: black;
}



/*--------------------------------------background for buttons */
.back {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

/*------------------------------------- Bootstrap resets*/
.card {
  border: none;
}

.vgr-cards .card {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    margin-bottom: 40px;

}

.card-img-body {
    flex: 1;
    overflow: hidden;
    position: relative;
}    
    
    

  
.card-img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
}   
    
    


.card-body {
    flex: 2;
    padding: 0 0 0 1.25rem;
}   


/*---------------------------------------- Back to top button */

#myBtn {
    position: fixed; 
    bottom: 60px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color: black; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    font-weight: 600;
  }
  

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: black;
}

/*----------------------------------------styling for bootstrap toast*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;

}
.toast-capper {
    height: 2px;
}

/*---------------------------------------- image display inspiration takein from geeksforgeeks.org --*/
.myProducts-gallery img{
    height: 100%;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .5;
    
}
   
.myProducts-gallery img:hover {
    opacity: 1;
}
   
.myProducts-gallery {
    float: left;
}
   
.myProducts {
    top: 25%;
    left: 25%;
    transform: translate(-25% , -25%);
    position: absolute;
}
   
.image-container img {
    border: 5px solid white;
    padding: 10px;
    display: grid;
    grid-gap:1rem;
    grid-template-areas:
    "img4 img4 img4"
    "img4 img4 img4"
    "img1 img 2 img3";
}
   
.image-container img:hover{
    transform: scale(1.25);
    cursor: zoom-in;
}
   
.image-container {
    float: right;
    padding: 10px;
}



.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* ------------------------------- Footer (Code inspired by @csscoding_ instagram page */

.c-footer{
    max-width: 1170px;
    margin:auto;
}

.r-footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.footer-ul {
    list-style:none;
}
.footer {
    background: black;
    padding: 70ox o;
}

.footer- col{
    width:25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size:18px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before{
    content: '';
    position:absolute;
    left: 0;
    bottom: -10px;
    background: orange;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    color: #bbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

.footer .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover{
    color: orange;
    background: fff;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .navbar {
        background-color: black;
    }

    .fas {
        color: white;
    }

    .a_s {
        color: white;
    }

    .card-img {
        margin: 0;
        transform: none;
        width: 100%;
        height: auto;
        }
}


/* footer */
@media (max-width: 767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

}

/* footer */
@media (max-width: 564px) {
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }

    .card-body {
        padding: 0;
    }

    .card-img-body {
        display: none;
        }
    
}
