{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans '403 Error' %}{% endblock %}
{% block content %}
<!-- Details of 403 error and button to navigate to home -->
<div class="container">
    <div id='topnav' class="row pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-md-left">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="logo-font my-0"><strong>Leather Works</strong></h2>
            </a>
        </div>
    <img class="card-img" src="https://res.cloudinary.com/dyhess8yw/image/upload/v1674151624/Project5/pexels-bilakis-12442672_c9g4pl.jpg" alt="Logo"
              class="d-block w-100 img-responsive" style="width:auto;">
            <div class="card-img-overlay">
            <h1 class="display-4 error-page-header">
                403 Page Error
            </h1>
            <p class="lead-error-p">Sorry, You do not have permission to access this part of the site.</p>
            <hr class="h1">
            <p>Please use the button below to return to our store.</p>
            <p class="lead">
                <a class="btn home-btn standard-btn" href="{% url 'home' %}" role="button">Home</a>
            </p>
        </div>
    </div>
{% endblock %}