{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans '404 Error' %}{% endblock %}
{% block content %}
<!-- Details of 404 error and button to navigate to home -->
<div class="container">
    <img class="card-img" src="https://res.cloudinary.com/dyhess8yw/image/upload/v1674151624/Project5/pexels-bilakis-12442672_c9g4pl.jpg" alt="Logo"
              class="d-block w-100 img-responsive" style="width:auto;">
            <div class="card-img-overlay">
            <h1 class="display-4 error-page-header">
                404 Page Error
            </h1>
            <p class="lead-error-p">Sorry! We cannot find or display the page you are requesting.</p>
            <hr class="my-4">
            <p>Please use the button below to return to our store.</p>
            <p class="lead">
                <a class="btn home-btn standard-btn" href="{% url 'home' %}" role="button">Home</a>
            </p>
        </div>
    </div>
{% endblock %}