{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans '404 Error' %}{% endblock %}
{% block content %}
<!-- Details of 404 error and button to navigate to home -->
<div class="container mt-5 pt-5">
    <div class="row pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-md-left">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <br>
                <h2 class="logo-font my-0"><strong>Leather Works</strong></h2>
            </a>
        
        <br>
            <h2 class="mt-2 pt-2">
                404 Page Error
            </h2>
            <hr class="hr1">
            <div>
            <p>Sorry! We cannot find or display the page you are requesting.<br>
               Please use the button below to return to our store.</p>
            </div>
            <br>
            <div>
                <a class="btn btn-dark mb-3" href="{% url 'home' %}" role="button">Home</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}