<footer class="footer mt-auto ">
    <div class="container c-footer pt-2">
        <div class="row r-footer">
            <div class="footer-col">
                <h4>Company</h4>
                <ul class="footer-ul">
                    <li><a href="{% url 'meet_the_tanner' %}">About Us</a></li>
                    <li><a href="{% url 'sustainable_leather' %}">Sustainability</a></li>
                    <li><a href="{% url 'certs' %}">Certifications</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4> Get Help </h4>
                <ul>
                    <li><a href="{% url 'faqs' %}">FAQ</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Shop</h4>
                <ul>
                    <li><a href="{% url 'products' %}">All Products</a></li>
                    <li><a href="{% url 'custom' %}">Custom Orders</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/profile.php?id=100090678427267" target="_blank"  aria-label="Go to our facebook page"><i class="fa fa-facebook"></i></a>
                    <a href="https://instagram.com" target="_blank"  aria-label="Go to our Instagram page"><i class="fa fa-instagram"></i></a>
                    <a href="https://twitter.com" target="_blank" aria-label="Go to our twitter page"><i class="fa fa-twitter"></i></a>
                    <a href="https://linkedin.com" target="_blank" aria-label="Go to our linkedin page"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>