<footer class="footer mt-auto">
    <div class="container c-footer pt-2">
        <div class="row r-footer">
            <div class="footer-col">
                <h4>Company</h4>
                <ul class="footer-ul">
                    <li><a href="{% url 'products' %}">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4> Get Help </h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Shop</h4>
                <ul>
                    <li><a href="#">All Products</a></li>
                    <li><a href="#">Large orders</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <ul class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </ul>
            </div>
        </div>
    </div>
</footer>