{% extends "base.html" %} 
{% load crispy_forms_tags %} 

{% block head_title %}- Edit Product{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="container fluid">
    <div class="row">
        <div>
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'thumbnail' %}
                       {{ field | as_crispy_field }}
                    {% else %}
                       {{ field }}
                   {% endif %}
                {% endfor %}
                <div class ="text-right">
                    <a class="btn btn-dark rounded-0" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-dark rounded-0" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    {% endblock %}
    
    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
    </script>
    </div>
  </div>
{% endblock %}