{% extends "base.html" %}
{% load static %}

{% block head_title %}- Product details {% endblock %}

{% block page_header %}
    <div class="container header-container-prod">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">  
 {% if product.thumbnail %}
     <!-- The grid: four columns -->
     <div class="container-img2">
<div class="row mt-md-5 mt-sm-3 mt-lg-3">
    <div class="column">
        <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="width:100%;" onclick="myFunction(this);">
    </div>
    <div class="column">
        <img src="{{ product.image_url }}" alt="{{ product.name }}" style="width:100%;" onclick="myFunction(this);">
    </div>
    <div class="column">
        <img src="{{ product.image_url_2 }}" alt="{{ product.name }}" style="width:100%;" onclick="myFunction(this);">
    </div>
    <div class="column">
        <img src="{{ product.image_url_3 }}" alt="{{ product.name }}" style="width:100%;" onclick="myFunction(this);">
    </div>
</div>
<div class="container-img1">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="width:100%">
    <div class="mt-2" id="imgtext"></div>
  </div>
  <div id="thumbnail">
  <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="width:100%;">
</div>
    {% else %}
    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
  {% endif %}
  </div>

  
         
            <div class="col-md-6">
                <div class="product-details-container mb-5 mt-md-5">
                    <h3 class="mb-0">{{ product.name }}</h3>
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a>
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class ="form" action="{% url 'add_item' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.color_choice as c %}
                            {% if c %}
                            <div class="col-12">
                                <p><strong>Colour leather:</strong></p>
                                <select class ="form-control rounded-0 w-50" name="product_color" id="id_product_color">
                                    <option value="tan" selected>Tan</option>
                                    <option value="rust">Rust</option>
                                    <option value="black">Black</option>
                                </select>
                            </div>
                            {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                    <div class="input-group input_group_{{ prodcut.id }}">
                                        <div class="input-group-prepend">
                                        <button class="decrement-qty btn brn-muted rounded-0 decrement-qty_{{ product.id }}" 
                                            data-item_id="{{ product.id }}">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                        name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-muted rounded-0 increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col{% if c %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn rounded-0 text-uppercase mt-5" value="Add item">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
    </section>
             <!--- Container for product reviews -->
    <section class="mb-5 pb-5">
    <div class="container-fluid mt-2 mb-5">
        <div class="row">
            <!--- Container for product reviews -->
            <div class="col-md-6 card mb-4 mt-3 border-0">
                <div class="card-body mb-3">
                    <h3 class="card-subtitle mb-2 cust-review-h3" style="color: #cb9b51">Customer Reviews
                    </h3>
                    {% for review in reviews %}
                        <p class="card-text">{{ review.username }} said:
                        </p>
                        <p class="card-text"><i>
                                {{ review.message | linebreaks }}</i></p>
                        <span class="text-muted">
                            {{ review.created_on }}
                        </span>
                    </div>
                    {% endfor %}
                </div>
                <!-- Container for adding product reviews -->
                <div class="card-body mb-4">
                    <!--- Link to inform how registration is required -->
                    {% if not user.is_authenticated %}
                    <div class="card-body">
                        <h3 class="card-subtitle mb-2" style="color:  #cb9b51">Would you like to review this product?
                        </h3>
                        <div class="card-body mb-3">
                            <p class="card-text register-text">Please either <a style="color: #cb9b51"
                                    href="{% url 'account_login' %}"><strong>sign in</strong></a> to your account or
                                register first.
                            </p>
                            <button><a href="{% url 'account_signup' %}" class="btn btn-muted">Sign Up
                            </a></button>
                        </div>
                    <!--- Signed in user can leave a product review -->
                    {% else %} {% if user.is_authenticated %}
                        <h3 class="card-subtitle cust-review-h3" style="color: #cb9b51">Leave your review
                        </h3>
                            <p class="card-text">
                                Reviewing as:
                                <span>{{ user.username }}
                                </span>
                            </p>
                            <!---User feature to add product review  -->
                            <form method="post" style="margin-top: 1.3em;">
                                {{ review_form | crispy }} {% csrf_token %}

                                <!---Button to submit product review -->
                                <button type="submit" class="btn btn-dark mb-5">Submit
                                </button>
                            </form>
                        </div>
                    </div>
                    {% endif %} {% endif %}
                </div>
            </div>
        </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}

